@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color-a: #d2d8ff;
  --light-color-b: yellow;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --button-BG: #265499;
  --button-text: aliceblue;
  --container-BG: #c0c5f3;
  --button-boarder: #0b2a91;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color-a);
  margin: 20px;
}

ul {
  padding-left: 0rem;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color-a);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}
